*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     /*This is for box model so that browsers like safari can also easily understand it*/
}

body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 5px;
    background-color: #fff;
}

.navbar_brand{
    width: 130px;
}

.navbar_logo{
    width: 100%;
}

.button_primary{
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
);
color: #fff;
border: none;
padding: 12px;
border-radius: 6px;
cursor: pointer;
}

.nav_item:hover{
    border: 2px solid pink;
}

/* Hero */

.container{
    max-width: 100%;
    padding: 0px 20px;
    margin: 0 auto;
}

.hero_container{
    margin-top: 5px;
}

.hero_image_container{
    width: 100%;
    height: 320px;
    position: relative;
}

.hero_image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    position: absolute;
}

.hero_shape{
    position: absolute;
    width: 100%;
    z-index: -3;
}

.hero_pattern{
    position: absolute;
    width: 100%;
    z-index: -2;
}

.hero_text_container{
    width: 100%;
}

.hero_text{
    font-size: 30px;
    margin: 20px 0;
}

/* Explore Menu */

.explore_menu_text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.food_card_desxription{
    border-radius: 8px;
}
.food_card_image_container{
    width: 100%;
}

.food_image{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.food_card{
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 8px;
}

.food_card_description{
    padding: 15px;
}

/* Restaurent */

.restaurent_text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.restaurent_images_container{
    width: 100%;   
}

.restaurent_images_row_one,
.restaurent_images_row_two{
    width: 100%;
    display: flex;
    gap: 10px;
}

.restaurent_images_row_one{
    align-items: baseline;
    margin-bottom: 10px;
}

.restaurent_image_1,
.restaurent_image_4{
    width: 100%;
    height: 80px;
}

.restaurent_image_2,
.restaurent_image_3{
    width: 120%;
    height: 100px;
}


.restaurent_1,
.restaurent_2,
.restaurent_3,
.restaurent_4{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}


/* Email Container */

.email_container{
    margin-top: 80px;
}

.email_text{
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.email_form_elements{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email_form_input{
    border: 1px solid #c4a1a9;
    background-color: #fcedf0;
    height: 32px;
    border-radius: 6px;
    padding: 8px;
}

/* Quote */

.quote_container{
    height: 200px;
    width: 100%;
}

.quote_elements{
    margin-top: 80px;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.quote_image{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -3;
    border-radius: 15px;
}
.image_overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #0a4065;
    opacity: 49%;
    z-index: 1;
    border-radius: 15px;
}

.quote_text{
    position: absolute;
    color: #fff;
    text-align: center;
    z-index: 3;
    font-size: 20px;
}

/* Footer */

.footer_container{
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
);
margin-top: 80px;
border-radius: 12px 12px 0px 0px;
}
.footer_image_container{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_image{
    margin: 40px 0px;
}
.footer_items_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_items_list{
    list-style-type: none;
    color: #fff;
}
.footer_element{
    margin: 10px;
}
/* Tablet View */

@media (min-width: 768px){

    /* Navbar */
    .navbar{
    padding: 10px 25px;
    }

    /* Hero */
    .hero_container{
        margin-top: 10px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    /* Explore Menu */
    .explore_menu_list{
        display: flex;
        gap: 15px;
        margin-top: 40px;
        padding: 0 30px;
    }

    #pizza_card{
        margin-top: -25px;
        margin-bottom: 30px;
    }
    .explore_menu_view_more{
        display: flex;
        justify-content: center;
    }
    .explore_menu_container{
        position: relative;
    }
    .explore_menu_gradient_bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%);
    z-index: -3;
    transform: skewY(-5deg);
    }

    /* Restaurent */

    .restaurent_container{
        display: flex;
        align-items: center;
    }

    .restaurent_text{
        width: 100%;
        font-size: 40px;
    }

}

/* small PC screen */

@media (min-width: 1020px){

    /* Navbar */
    .navbar{
        padding: 10px 40px;
    }
    .navbar_brand{
        width: 150px;
    }
    .button_primary{
        padding: 14px;
        font-size: 20px;
    }

    /* Hero */
    .container{
        max-width: 950px;
    }
    .hero_image_container{
        height: 455px;
    }
    .hero_text{
        font-size: 50px;
    }
    /* Explore Menu */

    .explore_menu_list{
        gap: 40px;
    }

    .explore_menu_text{
        font-size: 50px;
    }

    .explore_menu_container{
        margin-top: 120px;
    }


}

/* Medium Screen PC */

@media (min-width: 1400px){
    
    /* Container */
    .container{
        min-width: 1200px;
    }

    /* explore menu container */

    .explore_menu_container{
        margin-top: 240px;
    }
}